
.storeContainer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.storeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid black 1px;
  width: 89.25%;
  background-color: khaki;
}

.titleSixth {
  width: 16.6%;
}
.titleThird {
  width: 33%;
}
.titleTwelve {
  width: 8.33%;
}

.storeItems {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid black 1px;
  width: 100%;
}



