
h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

.storeContainer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.storeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid black 1px;
  width: 100%;
  background-color: #03A007;
  color: white;
}

.titleSixth {
  width: 16.6%;
}
.titleSixth.name {
  color: blue;
}

.titleThird {
  width: 33%;
}
.titleTwelve {
  width: 8.33%;
}

.inventoryContainer {
  width: 100%;
}

.storeItems {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid black 1px;
  background-color: #D7EFFF;
}

.price {
  display: flex;
  justify-content: center;
}

.price img {
  width: 25%;
}


