.navBar
	padding: 0.5rem
	font-size: 2rem
	width: 100%
	color: #E0A100
	margin-bottom: 3rem

	ul
		align-items: center

		.pierreIcon 
			border: solid 1px #E0A100
			border-radius: 50%
			width: 5rem

		.shoppingCartIcon
			width: 10rem
