.navBar
	padding: 0.5rem
	font-size: 2rem
	background-color: #03A007
	width: 100%
	color: white
	margin-bottom: 3rem

	ul
		align-items: center

		.pierreIcon 
			border: solid 4px white
			border-radius: 50%
			width: 5rem

